a{
  color:rgb(5,5,5);
  text-decoration: none;
}
*{
  max-width:100vw;
  height:auto;
}
*:hover{
  transition: all .3s;
}
h1{
  clear: both;
}
p{
  text-align: justify;
}
/* ヘッダー */
header{
  background-color:rgb(250,250,250);
  width:100vw;
  height:80px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 8px rgba(5,5,5,.5);
  position: fixed;
  top:0;
  z-index:999;
}
header img{
  display: block;
  width: 200px;
  height: 45.5px;
  margin:0 16px;
}
header nav ul{
  display: flex;
}
header nav ul li{
  display: block;
  margin-right:56px;
  list-style: none;
}

main{
  margin-bottom:80px;
}

/* メインビジュアル */
section#mainvisual{
  width:100vw;
  height:800px;
  margin-top:80px;
  margin-bottom:80px;
}
section#mainvisual .catchcopy{
  width:400px;
  margin:150px auto 250px auto;
}
section#mainvisual .catchcopy p{
  display: flex;
  width:100%;
  color:rgb(250,250,250);
  justify-content: space-between;
  font-size:32px;
  filter: drop-shadow(0 0 4px rgb(150,16,16));
}
section#mainvisual .catchcopy h1{
  height:360px;
  background-color:rgba(5,5,5,.5);
  font-weight: normal;
}
section#mainvisual .catchcopy h1 p{
  justify-content:center;
  align-items: center;
  margin:0;
  line-height:120px;
  font-size: 88px;
  letter-spacing: 16px;
  filter:none;
}
/* メインビジュアルスライド */
.bg-slider {
  width: 100vw;
  height: 800px;
  background-position:center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 墓地選択 */
section#select-cemetery{
  display: flex;
  justify-content: space-between;
  max-width:1200px;
  height:600px;
  margin:0 auto 80px auto;
}
section#select-cemetery .cemetery{
  width:calc((100% - 40px) / 3);
  border-radius: 16px;
  background-size:auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}
section#select-cemetery .cemetery:hover{
  background-size:auto 110%;
}
section#select-cemetery .cemetery.tree{
  background-image:url(../img/cemetery-tree.jpg);
}
section#select-cemetery .cemetery.indoor{
  background-image:url(../img/cemetery-indoor.jpg);
}
section#select-cemetery .cemetery.ossuary{
  background-image:url(../img/cemetery-ossuary.jpg);
}
section#select-cemetery .cemetery div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:300px;
  margin-top:300px;
  border-radius:0 0 16px 16px;
  background-color:rgb(5,5,5,.5);
  text-align:center;
  color:rgb(250,250,250);
}
section#select-cemetery .cemetery div h1,
section#select-cemetery .cemetery div p{
  margin:0;
}
section#select-cemetery .cemetery div h1{
  margin-top:32px;
  letter-spacing: 4px;
}
section#select-cemetery .cemetery div p{
  line-height: 32px;
  letter-spacing: 2px;
  text-align:center;
}
section#select-cemetery .cemetery div span{
  display: block;
  width:90%;
  line-height:32px;
  margin:0 auto 32px auto;
  border-radius: 40px;;
  background-color:rgb(250,250,250);
  color:rgb(5,5,5);
}

/* 特集・おすすめ情報 */
section#recommend{
  width:90%;
  max-width:1200px;
  margin:0 auto;
  margin-bottom:80px;
}
section#recommend h1{
  border-left:solid 4px rgb(5,5,5);
  padding-left:16px;
}
section#recommend h2{
  margin:0;
  margin-top:40px;
}
section#recommend article{
  display:flex;
  justify-content: space-between;
  padding:40px 0;
  border-bottom:solid 1px #ccc;
}
section#recommend article img,
section#recommend article div{
  width:calc((100% - 40px) / 2);
  height:300px;
  object-fit: cover;
  position: relative;
}
section#recommend article div p{
  margin-bottom:40px;
}
section#recommend article .tag{
  display: inline-block;
  width:96px;
  line-height:32px;
  margin-right:8px;
  border-radius: 50px;
  text-align:center;
  color:rgb(250,250,250);
}
section#recommend article .tag:hover{
  width:92px;
  padding-left:4px;
  letter-spacing: 4px;
  font-size:17px;
}
section#recommend article .tag.near{
  background-color:rgb(191,0,0);
}
section#recommend article .tag.tree{
  background-color:rgb(18,78,6);
}
section#recommend article .tag.indoor{
  background-color:rgb(98,55,11);
}
section#recommend article .detail{
  padding: 0px 48px 8px 0;
  background:url(../img/btn-bg-01.png) no-repeat 100% 100%;
  color:rgb(112,112,112);
  letter-spacing: 2px;
  position:absolute;
  right:0;
  bottom:0;
}
section#recommend article .detail:hover{
  letter-spacing: 8px;
  filter: drop-shadow(0 0 3px rgba(5,5,5,.2));
}
section#recommend>a{
  background-image:url(../img/btn-bg-02.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  background-size:auto 80%;
  margin:16px 0;
  padding-right:32px;
  color:rgb(0,38,111);
  font-weight:bold;
  font-size:120%;
  float: right;
}

/* お墓を選ぶにあたって */
section#choose{
  width:90%;
  max-width:1200px;
  margin:0 auto;
  margin-bottom:80px;
}
section#choose h1{
  border-left:solid 4px rgb(5,5,5);
  padding-left:16px;
}
section#choose h2{
  margin:0;
}
section#choose article{
  display:flex;
  justify-content: space-between;
  padding:40px 0;
  border-bottom:solid 1px rgb(112,112,112);
}
section#choose article img{
  width:300px;
  height:300px;
  object-fit: cover;
}
section#choose article div{
  width:calc(100% - 300px);
  position: relative;
}
section#choose article div h2{
  text-align:center;
}
section#choose article div ol{
  margin: 0 10% 76px 10%;
}
section#choose article div ol li{
  margin-top:16px;
  border-bottom:solid 1px rgb(112,112,112);
}
section#choose article .detail{
  padding: 0px 48px 8px 0;
  background:url(../img/btn-bg-01.png) no-repeat 100% 100%;
  color:rgb(112,112,112);
  letter-spacing: 2px;
  position: absolute;
  right:0;
  bottom:0px;
}
section#choose article .detail:hover{
  letter-spacing: 8px;
  filter: drop-shadow(0 0 3px rgba(5,5,5,.2));
}
section#choose article .diagnosis-start{
  display: block;
  width:480px;
  line-height:80px;
  margin:0 auto;
  font-weight:bold;
  font-size:24px;
  text-align: center;
  background-color: rgb(255,143,31);
  color:rgb(250,250,250);
  border-radius: 40px;;
  position: absolute;
  left: 0;
  right: 0;
  bottom:40px;
}
section#choose article .diagnosis-start:hover{
  letter-spacing: 8px;
  filter: drop-shadow(0 0 3px rgba(5,5,5,.2));
}

/* マップ */
section#map{
  margin-bottom: 80px;
}
section#map iframe{
  width:100vw;
  height:800px;
  border:none;
}
section#map ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width:90%;
  max-width:1200px;
  margin:0 auto;
}
section#map ul li{
  width:calc((100% - 24px) / 2);
  list-style: none;
  font-size:14px;
  color:rgb(77,77,77);
}
section#map ul li span{
  display: block;
  margin-top:16px;
  font-size:18px;
}

/* 海洋散骨バナー */
section#sea{
  margin-bottom: 80px;
}
section#sea a{
  display: block;
  width:100vw;
  height:300px;
  padding:40px 0;
  background-image:url(../img/banner-bg-sea.jpg);
  background-size:100% auto;
  background-position:center;
  color:rgb(250,250,250);
  text-align:center;
  position: relative;
}
section#sea a:hover{
  background-size:110% auto;
}
section#sea a h1{
  margin:32px 0;
  font-size:64px;
  letter-spacing: 16px;
  filter: drop-shadow(0 0 4px rgb(5,5,5));
}
section#sea a div{
  width:320px;
  line-height:40px;
  margin:0 auto;
  background-color:rgba(250,250,250,.7);
  color:rgb(5,5,5);
  border-radius:40px;
}
section#sea a p{
  width:100vw;
  margin:0;
  padding:22px 0;
  position: absolute;
  bottom:0;
  text-align:center;
  letter-spacing: 4px;
  background-color:rgba(12, 55, 108, 0.5);
  font-size:24px;
}

/* 墓地一覧スライド */
section#cemeterylist{
  width: 100vw;
  height: 280px;
  margin-bottom:80px;
}
section#cemeterylist .swiper-container{
  height:100%;
}
section#cemeterylist .swiper-slide {
  display: block;
  text-align: center;
}
section#cemeterylist .swiper-slide img{
  display: block;
  width:250px;
  height:200px;
  margin:0 auto;
  object-fit: cover;
}
section#cemeterylist .swiper-slide h1{
  font-size:16px;
  font-weight:normal;
}

/* ビューポート下部に固定 */
section#contact{
  display:flex;
  justify-content: space-between;
  width:100vw;
  line-height:80px;
  position:fixed;
  bottom:0px;
  z-index:2;
  background-color:rgb(250,250,250);
  box-shadow: 0 0 8px rgba(5,5,5,.5);
  text-align:center;
}
section#contact .tel{
  display: block;
  width:600px;
  line-height:60px;
  font-size:40px;
  letter-spacing: 6px;;
}
section#contact .tel span.number{
  display: flex;
  justify-content: center;
  align-items: center;
}
section#contact .tel span.time{
  display: block;
  line-height:14px;
  font-size:14px;
  letter-spacing: 0.6px;
}
section#contact .tel span.number img{
  width:auto;
  height:40px;
  padding-left:10px;
}
section#contact .tour,
section#contact .document{
  width:calc((100% - 400px) / 2);
  color:rgb(250,250,250);
  font-size:20px;
  font-weight:bold;
  letter-spacing: 4px;
  padding-left:4px;
}
section#contact .tour{
  background-color:rgb(41,91,91);
}
section#contact .document{
  background-color:rgb(34,142,142);
}

/* フッター */
footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width:100vw;
  background:rgb(5,5,5);
}
footer ul{
  padding-inline-start:0;
}
footer ul li{
  list-style:none;
}
footer ul li a{
  color:rgb(250,250,250);
  margin-right:24px;
}
footer ul.sitemap{
  display: flex;
  flex-wrap: wrap;
  width:47%;
  padding-left:40px;
}
footer ul.cemetery{
  display: flex;
  justify-content: space-between;
  width:47%;
}
footer ul.cemetery>li{
  width:calc(100% / 3.1);
}
footer ul.cemetery>li>ul>li{
  line-height:22px;
  font-size:13px;
}
footer small{
  width:100vw;
  padding:24px 0;
  text-align:center;
  color:rgb(250,250,250);
}